/* Custom colors and fonts */
.my-name {
  color: white; 
  background-color: #8FB0A9;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background-color: #F2D8B3 ;
}
.navbar {
  background: #FBD266;
  border: none;
}
.nav-link {
  color: #D76735;
}
html {
  position: relative;
  min-height: 100%;
}
main {
  margin: 80px 0;
}
.box {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}
.header {
  color: #8FB0A9;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.selfie {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}
footer {
  text-align: center;
  color: #FBD266;
  background-color: #D76735;
  padding-bottom: 20px;
  border-top: #8FB0A9 solid 10px;
  width: 100%;
}


/* Adjust color and formatting for small screens */
@media only screen and (max-width: 767px) {
  .navbar .container {
    background-color: #8FB0A9;
    justify-content: center;
  }
  .navbar {
    background-color: #8FB0A9;
  }
  .nav-link {
    color: white;
  }
}
